
.home-container {
    text-align: center;
    color: white;  /* Setting the text color to white */
  }
  
  .home-title {
    font-size: 50px;
  }
  
  .divider {
    border-color: #ccc;
  }
  
  .home-subtitle {
    font-size: 40px;
  }
  
  .image-container {
    text-align: center;
  }
  
  .center-image {
    margin: auto;
    width: 525px;
    height: 375px;
  }
  
  .home-text {
    font-size: 18px;
  }
  
  /* Additional Reset */
  body {
    margin: 0;
    padding: 0;
  }
  