
.home-container {
    text-align: center;
    color: rgb(244, 243, 240); 
  }
  
  .home-title {
    font-family: "aachen-bold";
    font-weight: 100;
    font-size: 50px;
    color: rgb(229, 179, 51);
    border-color: black;
    -webkit-text-stroke: 1px black;
  }
  
  .divider {
    border-color: #ccc;
  }
  
  .home-subtitle {
    font-size: 36px;
  }
  
  .image-container {
    text-align: center;
  }
  
  .center-image {
    margin: auto;
    width: 525px;
    height: 375px;
  }
  
  .home-text {
    font-size: 18px;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  