.navbar {
    text-align: center;
  }
  
  .nav-link {
    display: inline-block;
    width: 50px;
    padding: 12px;
    margin: 0 6px 6px;
    background: black;
    text-decoration: none;
    color: white;
  }
  
  .nav-link.active {
    background: darkblue;
  }
  